


<style>
    #id_new_password1, #id_new_password2, #id_old_password{
      width: 100%;
      height: 30px;
      border-radius: 5px;
      border: #00f solid 1px;
      padding: 5px;
      outline: none;
    }

    .change_password{
      width: 100%;
      height: 30px;
      padding: 5px;
      color: #fff;
      background: #00f;
      border-radius: 10px;

    }

    a:visited{
      color: #00f;
    }

  </style>


<div style="width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center; background: #fff;">



<form method="post" novalidate>

      {% csrf_token %}

      <p style="width: 60px;">{{form.as_p}}</p>

      <input type="submit" value="Change Password" class="change_password">
      <p style="text-align: center; color: #222020cb;">Return to home page <a href="{% url 'home' %}">home</a></p>

</form>

</div>